@import './reset.css';

:root {
    --color-primary: hsl(36deg 93% 68% / 1);
    --color-headline: hsl(60, 0.1%, 21.8%);
    --color-background: hsl(177.43deg 100% 13.73% / 1);

    --shadow-tall-dreamy: 0 2px  4px  hsl(0deg 0% 0% / 0.07), 
                          0 4px  8px  hsl(0deg 0% 0% / 0.07), 
                          0 8px  16px hsl(0deg 0% 0% / 0.07),
                          0 16px 32px hsl(0deg 0% 0% / 0.07), 
                          0 32px 64px hsl(0deg 0% 0% / 0.07);
    --shadow-short-dreamy: 0 1px 1px  hsl(0deg 0% 0% / 0.07), 
                           0 2px 2px  hsl(0deg 0% 0% / 0.07), 
                           0 4px 4px  hsl(0deg 0% 0% / 0.07),
                           0 6px 8px  hsl(0deg 0% 0% / 0.07), 
                           0 8px 16px hsl(0deg 0% 0% / 0.07);
    --shadow-short-dreamy-inset: inset 0 1px 1px  hsl(0deg 0% 0% / 0.07), 
                                 inset 0 2px 2px  hsl(0deg 0% 0% / 0.07), 
                                 inset 0 4px 4px  hsl(0deg 0% 0% / 0.07),
                                 inset 0 6px 8px  hsl(0deg 0% 0% / 0.07), 
                                 inset 0 8px 16px hsl(0deg 0% 0% / 0.07);
}  

@supports (color: oklch(0% 0.0 0)) {
  :root {
    --color-primary: oklch(0.8335 0.1295 75.54);
    --color-headline: oklch(0.3403 0.0017 106.49);
    --color-background: oklch(0.3556 0.0614 189.91);
    }
}

